.pizza-container {
    font-family: 'Mori-SemiBold', sans-serif;
}


.pizza-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0px;
    flex-direction: row;
  }
  
  .pizza-map {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
    justify-items: center;
    padding: 30px 30px 30px 30px;
  }

  .pizza-card {
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgb(233,229,221);
    background-image: url('/fonts/wb.png');
  }

  .pizza-card:hover {
    transition: box-shadow 300ms ease 0s, transform 300ms ease 0s;
    box-shadow: 4px 4px 1px 0px;
  }
  
  .pizza-card-image {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    border-bottom: 2px solid black;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
  }
  
  .pizza-card-image:hover {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
  }
  
  h4 {
    font-size: 20px;
    padding: 1rem;
    text-decoration: none;
  }
  
  .pizza-link {
    text-decoration: none;
    color: black;
  }

