/* font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
 */

 @font-face {
  font-family: 'Neue Regrade Bold Italic';
  src: url('/fonts/Neue Regrade Bold Italic.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade Bold';
  src: url('/fonts/Neue Regrade Bold.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade ExtraBold Italic';
  src: url('/fonts/Neue Regrade ExtraBold Italic.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade ExtraBold';
  src: url('/fonts/Neue Regrade ExtraBold.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade Light Italic';
  src: url('/fonts/Neue Regrade Light Italic.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade Light';
  src: url('/fonts/Neue Regrade Light.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade Medium Italic';
  src: url('/fonts/Neue Regrade Medium Italic.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade Medium';
  src: url('/fonts/Neue Regrade Medium.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade Regular Italic';
  src: url('/fonts/Neue Regrade Regular Italic.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade Regular';
  src: url('/fonts/Neue Regrade Regular.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade SemiBold Italic';
  src: url('/fonts/Neue Regrade SemiBold Italic.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neue Regrade SemiBold';
  src: url('/fonts/Neue Regrade Semibold.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neutral Face';
  src: url('/fonts/NeutralFace.otf') format('opentype');
 }
 @font-face {
  font-family: 'Neutral Face Bold';
  src: url('/fonts/NeutralFace-Bold.otf') format('opentype');
 }


body {
  padding: 0;
  margin: 0;
}

.main {
position: relative;
}

/* HOME CSS */
.header-container {
  display: flex;
  flex-direction: column-reverse;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: rgb(233,229,221);
  /* background-image: url('/fonts/wb.png'); */
  border-bottom: 1px solid black;
  padding: 0 20px 0 20px;
}

.header img {
  margin: 0;
  padding: 0;
}

.nav-a {
  font-family: 'Neue Regrade SemiBold Italic', sans-serif;
  border: 2px solid black;
  border-radius: 2rem;
  background-color: #AA2D2F;
  color: rgb(233,229,221);
  font-size: 18px;
  padding: 2px 30px 0px 30px;
  margin: 0 1.5rem;
}

.nav-a:hover {
  font-size: 18px;
  box-shadow: 3px 3px 1px 0px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* CYOP CSS */
.custompizza {
  border: 2px solid black;
  border-radius: 12px;
  width: 100%;
  margin: 2rem;
}

.CYOP {
  display:flex;
  flex-direction: row;
  padding: 30px;
}

h1 {
  font-family: 'Neue Regrade Bold', sans-serif;
  font-size: 6vh;
  border: 2px solid black;
  border-radius: 32px;
  padding: 0.5rem 1rem;
  /* box-shadow: 4px 4px 1px 0px; */
  background-color: rgb(233,229,221);
}

h5 {
  margin: 1rem 1rem;
  border-bottom: 2px solid;
  width: fit-content;
}

.leftside, .rightside {
  width: 50%;
  font-family: 'Neutral Face', sans-serif;
}

.leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.rightside {
  padding-top: 1rem;
  padding-left: 2.4rem;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
}

button.btn {
  min-height: 50px;
  width:140px;
  margin: 6px;
  color: black;
  border: 2px solid black;
  border-radius: 32px;
  background-color: rgb(233,229,221);
  font-size: 1.5vh;
}

button.btn-outline-primary.active {
  width:140px;
  margin: 1px;
  color: black;
  border: 2px solid black;
  background-color: rgb(233,229,221);;
  box-shadow: 3px 3px 1px 0px black;
  margin: 0.5rem;
}

button.btn:hover {
  border: 2px solid black;
  color: black;
  background-color: rgb(233,229,221);
  box-shadow: 3px 3px 1px 0px black;
}


button.buttonList {
  width: 140px;
  color: black;
  border: 2px solid black;
}

button.CYOP-btn {
  color: black;
  background-color: rgb(233,229,221);
  max-width: 50%;
  margin: 20px auto;
  font-family: 'Neutral Face', sans-serif;
  letter-spacing: 1px;
  font-size: 2vh;
}


.h5-price {
  border: 2px solid black;
  border-radius: 32px;
  padding: 0.5rem 1rem;
  font-family: 'Neutral Face', sans-serif;
  font-size: 3vh;
  letter-spacing: 1px;
  box-shadow: 4px 4px 1px 0px;
  background-color: rgb(233,229,221);
}

/* pizza page */
.pizza-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 40px 0;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
}

.pizza-map {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px;
  justify-items: center;
  padding: 30px 30px 30px 30px;
}

.pizza-card-image {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  box-shadow: 1px 1px 4px grey;
  /* , 6px 6px 4px grey; */
  border-radius: 12px;
}

.pizza-card-image:hover {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  box-shadow: 1px 1px 4px grey, 3px 3px 4px darkslategrey;
  border-radius: 12px;
}

h4 {
  font-size: 20px;
  padding: 12px 0 0 0;
  text-decoration: none;
}

h1 {
  font-weight: 600;
}

.pizza-link {
  text-decoration: none;
  color: black;
}

/* FOOTER CSS */
li {
  list-style: none;
}
.footer {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  background-image: url(./brick.jpg);
  background-size: cover;
  /* position: absolute;
  bottom: 0; */
  border-top: 2px solid black;
  margin-top: 20px;
}
.footer card-footer {
  padding: 0px;
}

.footer div:nth-child(1) {
  color: rgb(233,229,221);
}
.footer div:nth-child(2) {
  color:rgb(233,229,221);
}
.footer div:nth-child(3) {
  color:rgb(233,229,221);
}
.inner-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 10px;
}
.inner-footer2{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.footer-ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footer-section {
  padding-top: 20px;
}

a{
  margin: 0 5px 0 5px;
  color: black;
}
a:hover {
  color: black;
}

li {
  padding: 10px 50px 0 50px;
}

.footer-list {
  color: rgb(233,229,221);
  text-decoration: none;
}

.footer-list:hover{
  text-decoration-line: overline;
  color: white;
}
.add-to-cart {
  border: solid red;
  height: 5px;
}

