.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border: 2px solid black;
  box-shadow: 4px 6px 0px 0px black;
  border-radius: 8px;
  background-color: #AA2D2F;
  background-image: url('/fonts/wb.png');
  padding: 20px;
  text-align: center;
  max-width: 20%;

  @media screen and (max-width: 1200px) {
    max-width: 50%;
  }
}
  
  .content {
    text-align: center;
  }
  
  .input-container input {
    width: 100%;
    padding: 1px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 12px;
    box-sizing: border-box;
  }

  .login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .x-wrapper {
    display: flex;
    align-items: flex-start;
  }

  .x-btn {
    cursor: pointer;
    position: absolute;
    max-height: 0px;
    top: -10px;
    right: 6px;
    border: none;
    background-color: transparent;
    background-image: url('/fonts/wb.png');
  }

  .login-h2 {
    font-family: 'Mori-SemiBold', sans-serif;
    font-size: 5vh;
    flex-grow: 1;
    text-align: center;
  }

  .login-username {
    padding-top: 1rem;
    font-family: 'Mori-Regular', sans-serif;
    font-size: 2.5vh;
  }

  #username {
    background-color: rgb(233,229,221);
    border: 2px solid black;
    box-shadow: 3px 3px 1px 0px;
    border-radius:12px;
  }

  #username::placeholder {
    font-family: 'Mori-ExtraLightItalic', sans-serif;
    color: black;
    font-size: 2vh;
    padding: 1rem;
  }

  #username:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(233, 229, 221) inset;
  }

  #password {
    background-color: rgb(233,229,221);
    border: 2px solid black;
    box-shadow: 3px 3px 1px 0px;
    border-radius:12px;
  }

  #password::placeholder {
    font-family: 'Mori-ExtraLightItalic', sans-serif;
    color: black;
    font-size: 2vh;
    padding: 1rem;
  }

  .login-password {
    padding-top: 1rem;
    font-family: 'Mori-Regular', sans-serif;
    font-size: 2.5vh;
  }

  .login-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1.5rem;
  }
  
  .login-btn {
    border: 2px solid black;
    font-family: 'Mori-SemiBold', sans-serif;
    font-size: 1vh;
    border-radius: 32px;
    background-color: rgb(233,229,221);
    color: black;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.1rem 0.8rem;
    text-align: center;
  }

  .login-btn:hover {
    color: black;
    transition: box-shadow 300ms ease 0s, transform 300ms ease 0s;
    box-shadow: 3px 3px 1px 0px black;
  }
